*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: auto;
    height: 400px;
    padding: 0px 0px;
    margin: 0px 0px;
}
.pages{
    position: absolute;
    top: 15px;
    left: 30%;
}
.pages a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    background-color: gray;
    border-radius: 5px;
    margin: 10px;
}
.pages a:hover{
    color: #fff;
    background-color: black;
    transition: 1s;
    padding: 15px;
}
.login{
    position: absolute;
    top: 15px;
    right: 20px;
}
.login a{
    color: black;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.login a:hover{
    color: #fff;
    background-color: black;
    transition: 1s;
    padding: 15px;
}
h1{
    font-family:cursive;
    font-size: 60px;
    font-weight: 900;
    width: 200px;
    position: relative;
    left: 100px;
    line-height: 60px;
    top: 20px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 500px;
    position: relative;
    left: 10%;
    top: 50px;
}
.content img{
    position: absolute;
    top: 250px;
    right: 40px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.qoute{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 450px;
    left: 100px;
    width: 350px;
    box-shadow: 2px 2px 5px;
    padding: 20px;
    border-radius: 5px;
}
.Qoute{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 450px;
    right: 450px;
    width: 350px;
    box-shadow: 2px 2px 5px;
    padding: 20px;
    border-radius: 5px;
}
.qoute:hover,.Qoute:hover{
    background-color: rgb(153, 153, 153);
    transition: 1.5s;
}
